@media (max-width: 575.98px) 
    body 
        max-width: 575.68px
    header 
        width: 375px
        height: 107vh
        .menu-bar
            width: 100%
            .logo
                margin-left: -120px
            .nav-bar
                margin-top: 0
                margin-right: 25px
                display: block
                li 
                    margin-top: 20px
        .app-des
            margin-left: 35px
            margin-top: -100px
            .advert
                margin-top: 50px
                margin-left: 100px
                width: 100%
            .downloading
                width: 200px
                height: 50px
                margin-left: 60px
                margin-top: -50px
        .app-img
            float: 0
            margin: 0
            margin-top: 250px
            margin-right: 20px
            .iPhone
                width: 0
                height: 0
                display: none
    .features
        width: 100%
        height: 65vh
        .easy-messaging
            margin: 0
            display: block
            .messages
                width: 250px
                height: 445px
                margin-left: 30px
                display: none
            .conversation
                width: 250px
                height: 445px
                position: absolute
                top: 750px
                display: none
            .easy-mes-desc
                width: 100%
                margin-top: 0
                position: absolute
                left: -100px
                top: 750px
                h1 
                    text-align: center
                p 
                    padding: 20px 0 0 15px
        .keep-in-touch
            margin-top: 75px
            margin-left: 0
            .in-touch-desc
                width: 100%
                margin: 0
                position: absolute
                top: 1000px
                h1 
                    text-align: center
                p 
                    padding: 20px 0 0 15px
        .contacts, .groups
            display: none
    .people-say
        .title
            text-align: center
            font-size: 40px
            color: #363636
            span 
                color: red
        .comments
            margin: 0
            display: block
            .comment1, .comment2, .comment3
                margin: 0
            .comment1, .comment2, .comment3
                margin-top: 40px
                margin-left: 40px
            .comment2
                .triangle
                    margin-left: 250px
                .author
                    img 
                        position: absolute
                        left: 275px
                    div 
                        margin-left: 120px
    .actions
        width: 100%
        height: 125vh
        display: block
        .start-conv, .free-call, .picture, .video
            margin: 0
        .iphone-video, .dark-bg, .play-circle 
            display: none
            width: 0
            height: 0
        .start-conv, .free-call, .picture, .video
            margin-top: 40px
        .picture, .video
            margin-left: 90px
    .subscribe
        .title
            font-size: 40px
            color: #363636
            span 
                color: red
        form 
            .email
                width: 275px
                margin: 0 auto
            .sub-btn
                position: absolute
                top: 3430px
                left: 270px
    .download
        h1 
            font-size: 40px
            color: #363636
            span 
                color: red
    .main-footer
        width: 100% 
        ul 
            display: none
        select 
            margin: 0 auto
            margin-left: -40px
        

                

            