header 
    background: url(../img/header-bg.svg) no-repeat center 76%, #fff
    height: 100vh
    width: 100%

.menu-bar 
    width: 100%
    .logo
        padding-left: 150px
        padding-top: 25px
        float: left
    .nav-bar
        float: right
        display: flex
        margin-top: 30px
        margin-right: 200px
        li 
            margin-left: 50px
            color: white

.app-des
    width: 30%
    padding-top: 250px
    float: left
    .promo
        color: white;
        font-size: 60px
        width: 350px
        margin-bottom: 20px
    .advert
        color: white;
        margin-bottom: 60px
        .app-name
            font-weight: bold
    .downloading
        height: 30px
        width: 150px
        outline: none
        text-decoration: none
        border-radius: 25px
        box-shadow: 0px 10px 40px 0 rgba(54, 54, 54, 0.15)
        background: white
        border: 0
        color: red

.app-img
    float: right
    margin-right: 200px
    margin-top: 150px 
    .iPhone
        width: 319.333px
        height: 547.333px

.features
    padding-bottom: 100px
    border-bottom: 1px solid #e0e0e0
    .easy-messaging
        margin-left: 180px
        width: 1000px
        display: flex
        margin-top: 35px
        .messages 
            height: 534px
            width: 300px
            z-index: 1
        .conversation
            height: 534px
            width: 300px
            margin-top: 40px
            margin-left: -150px
            z-index: 2
        .easy-mes-desc
            width: 400px
            height: 200px
            margin-left: 100px
            margin-top: 200px
            h1 
                font-size: 40px
                color: #363636
                .red-dot
                    color: red
            p 
                padding-top: 30px
                font-size: 12px
                line-height: 1.78
                color: #808080

    .keep-in-touch
        display: flex
        margin-left: 200px
        margin-top: 50px
        .contacts
            height: 534px
            width: 300px
            margin-right: -110px
            margin-top: 60px
            z-index: 2
        .groups
            height: 534px
            width: 300px
            z-index: 1
        .in-touch-desc
            width: 400px
            height: 200px
            margin-top: 200px
            margin-right: 50px
            h1 
                font-size: 40px
                color: #363636
                .red-dot
                    color: red
            p 
                padding-top: 30px
                font-size: 12px
                line-height: 1.78
                color: #808080



        

        
